/* .Check {
    content: url("https://www.freeiconspng.com/uploads/checkmark-symbol-png-background-12.png");
    max-width: 7%;
    height: auto;
} */

/* .Submit-block {
    display: flex; 
    justify-content: center;
} */

/* .Submit-progress {
    size: 30;
} */